body{
	margin: 0;
	padding: 0;
	background-color: #111;
	font-family: "Comic Sans MS";
}
::-webkit-scrollbar-track {background-color:rgba(0,0,0,0.9)}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: url(../images/texture.jpg);
	background-size: cover;
}
::-webkit-scrollbar-thumb:hover{background-color:rgba(255,255,255,0.6)}
::-webkit-scrollbar{width: 20px}
header{
	position: fixed;
	margin-bottom: 15vh;
	padding: 5vh 0;
	width: 100%;
	color: white;
	font-size: 5vh;
	text-shadow: 0 0 10px white;
	text-align: center;
	background-color: #111;
	box-shadow: 0 2vh 2vh #060606;
	cursor: default;
	z-index: 2;
}
.gallery{
	margin: 0;
	padding: 16vh 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;
}
.photo{
	position: relative;
	margin-top: 10vh;
	z-index: 1;
}
.photo img{
	display: block;
	position: relative;
	height: 42vh;
	max-width: 90vw;
	border: 5px solid #888;
	box-sizing: border-box;
	box-shadow: 0 0 25px black;
}
.photo a{text-decoration: none}
.exif{
	position: absolute;
	/*top: calc(50% - 20vh);
	left: calc(50% - 35vh);
	width: 70vh;
	height: 40vh;*/
	top: calc(1vh + 5px);
	left: calc(1vw + 5px);
	bottom: calc(1vh + 5px);
	right: calc(1vw + 5px);
	padding: 2%;
	box-sizing: border-box;
	display: none;
	color: #eee;
	font-size: calc(1vw + 4px);
	background-color: rgba(0,0,0,.75);
	border-radius: 1vw;
	box-shadow: 0 0 2vh #111;
	list-style: none;
	transition: .25s;
}
.exif:hover{
	background-color: rgba(0,0,0,.9);
}
.link:hover .exif{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.exif li{
	display: flex;
	justify-content: space-between;
	padding-bottom: .8vh;
	border-bottom: .1vh solid #bbb;
}
.exif li:last-child{
	border-bottom: 0;
}
.tag{
	font-weight: bold;
}