body{
	display: flex;
	flex-direction: row;
	background-color: #111;
	font-family: "Comic Sans MS";
}
::-webkit-scrollbar-track {background-color:rgba(0,0,0,0.9)}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: url(../images/texture.jpg);
	background-size: cover;
}
::-webkit-scrollbar-thumb:hover{background-color:rgba(255,255,255,0.6)}
::-webkit-scrollbar{width: 20px}
header{
	position: fixed;
	margin-top: 2.5vh;
	width: 100%;
	color: white;
	font-size: 5vh;
	text-shadow: 0 0 10px white;
	text-align: center;
	cursor: default;
}
.photo{
	/*margin: 0 10vw;*/
	position: relative;
	padding: 0 5vw;
	margin-top: 15vh;
	height: 75vh;
}
.photo img{
	display: block;
	position: relative;
	height: 100%;
	border: 5px solid #888;
	box-sizing: border-box;
	box-shadow: 0 0 25px black;
}
.photo a{text-decoration: none}
.exif{
	position: absolute;
	top: calc(50% - 24vh);
	left: calc(50% - 34vh);
	width: 70vh;
	height: 44vh;
	padding: 2vh;
	box-sizing: border-box;
	display: none;
	color: #eee;
	font-size: 3.25vh;
	background-color: rgba(0,0,0,.75);
	border-radius: 1vw;
	box-shadow: 0 0 2vh #111;
	list-style: none;
	transition: .25s;
}
.exif:hover{
	background-color: rgba(0,0,0,.9);
}
.link:hover .exif{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.exif li{
	display: flex;
	justify-content: space-between;
	padding-bottom: .8vh;
	border-bottom: .1vh solid #bbb;
}
.exif li:last-child{
	border-bottom: 0;
}
.tag{
	font-weight: bold;
}