body{background-image: url(../images/triangles.jpg)}
header,footer{
	margin: 50px auto;
	width: 66%;
	box-sizing: border-box;
	padding: 1%;
	border-radius: 40pt;
	border: 5px solid #aaa;
	border-left-width: 25px;
	border-right-width: 25px;
	background-color: white;
	box-shadow: 0 0 20px black;
	font-size: 32pt;
	text-shadow: 2px 2px 2.5px #777;
	text-align: center;
}
h1{
	display: inline;
	font-size: 36pt;
}
.container{
	margin: 5%;
	padding: 2% 5%;
	font-size: 14pt;
	box-sizing: border-box;
	background-color: white;
	border-radius: 50px;
	border: 5px solid #aaa;
	box-shadow: 0 0 20px black;
}
header,footer,h1,h2,h3,table *{cursor: default}
h2{
	font-size: 27pt;
	text-transform: uppercase;
	text-align: center;
}
h3{
	text-align: center;
	font-size: 20pt;
}
p{
	margin: 0;
	margin-bottom: 1vh;
	text-align: justify;
}
.content-image,.content-video,.content-audio,.content-html{
	display: block;
	margin: 50px auto;
	max-width: 100%;
	max-height: 80vh;
	border: 5px solid #888;
	box-sizing: border-box;
	box-shadow: 10px 10px 20px #333;
}
.content-audio{
	width: 100%;
	height: 60px;
	border-radius: 50px;
	border-left-width: 16px;
	border-right-width: 16px;
	outline: 0;
}
.content-video{
	position: relative;
	width: 80%;
	padding-top: calc(56.25% * .8);
}
.content-video iframe{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.content-html{
	width: 100%;
	height: 32vh;
	transition: .5s;
}
.content-html:hover{
	height: 80vh;
}
table{
	width: 100%;
	border-collapse: collapse;
}
tr{
	display: flex;
	border-radius: 10px;
}
tr:hover{
	background-color: #def;
	border: 2px solid #bbc;
}
.info tr{padding: 5px 8px}
.info .tag{
	width: 220px;
	text-align: right;
	font-weight: bold;
	/*text-transform: uppercase;*/
}
.info .tag + td{
	width: 100%;
	margin-left: 5px;
}
.description ol{
	margin-left: 1vw;
}
.lyrics tr{justify-content: space-between}
.lyrics th,.lyrics td{
	flex-basis: 36%;
	flex-grow: 2;
	padding: 5px;
	box-sizing: border-box;
}
.lyrics th{
	text-align: left;
	padding: 30px 0 12px 1vw;
	font-size: 150%;
}
.lyrics .original{
	flex-shrink: 3;
}
.lyrics .romaji{
	flex-shrink: 3;
	font-size: 90%;
	font-style: italic;
}
.lyrics .translation{
	flex-shrink: 3;
}
footer{
	font-size: 24pt;
	font-weight: bold;
}