body{background-image: url(../images/triangles.jpg)}
header,footer{
	margin: 50px auto;
	width: 66%;
	box-sizing: border-box;
	padding: 1%;
	border-radius: 40pt;
	border: 5px solid #aaa;
	border-left-width: 25px;
	border-right-width: 25px;
	background-color: white;
	box-shadow: 0 0 20px black;
	font-size: 36pt;
	text-shadow: 2px 2px 2.5px #777;
	text-align: center;
}
header strong{font-size: 44pt}
.container{
	margin: 5%;
	padding: 2% 5%;
	font-size: 14pt;
	box-sizing: border-box;
	background-color: white;
	border-radius: 50px;
	border: 5px solid #aaa;
	box-shadow: 0 0 20px black;
}
h1,h2,p{cursor: default}
h1{
	text-transform: uppercase;
	text-align: center;
}
h2{margin: 30px 0 12px 0}
p{
	margin: 1vh 0;
	text-align: justify;
}
.content-image,.content-video,.content-audio{
	display: block;
	margin: 50px auto;
	max-width: 100%;
	max-height: 80vh;
	border: 5px solid #888;
	box-sizing: border-box;
	box-shadow: 10px 10px 20px #333;
}
.content-audio{
	width: 100%;
	height: 60px;
	border-radius: 50px;
	border-left-width: 16px;
	border-right-width: 16px;
	outline: 0;
}
.content-video{
	position: relative;
	width: 80%;
	padding-top: calc(56.25% * .8);
}
.content-video iframe{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.stronger{
	font-size: 16pt;
	font-weight: bold;
}
.description p{text-indent: 1vw}
.description ol{
	margin-left: 1vw;
}
footer{
	font-size: 16pt;
	font-weight: bold;
}