body{
	margin: 0;
	padding: 0;
	background-color: #111;
	font-family: "Comic Sans MS";
}
::-webkit-scrollbar-track {background-color:rgba(0,0,0,0.9)}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: url(../images/texture.jpg);
	background-size: cover;
}
::-webkit-scrollbar-thumb:hover{background-color:rgba(255,255,255,0.6)}
::-webkit-scrollbar{width: 20px}
header{
	position: fixed;
	margin-bottom: 15vh;
	padding: 5vh 0;
	width: 100%;
	color: white;
	font-size: 5vh;
	text-shadow: 0 0 10px white;
	text-align: center;
	background-color: #111;
	box-shadow: 0 2vh 2vh #060606;
	cursor: default;
	z-index: 2;
}
.gallery{
	margin: 0;
	padding: 16vh 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;
}
.photo{
	position: relative;
	margin-top: 10vh;
	z-index: 1;
	cursor: pointer;
}
.photo img{
	display: block;
	max-height: 42vh;
	max-width: 84vw;
	border: 5px solid #888;
	box-sizing: border-box;
	box-shadow: 0 0 25px black;
}
.photo a{text-decoration: none}
.fulls{
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
.full{
	display: none;
	position: absolute;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 2vh 1vw;
	background-color: #111;
	z-index: 3;
}
.full img{
	display: block;
	max-height: 80vh;
	max-width: 80vw;
	margin: 0 1vw;
	border: 5px solid #888;
	box-sizing: border-box;
	box-shadow: 0 0 25px black;
}
.exif{
	max-width: 80vw;
	min-width: 33vw;
	margin: 2vh 0;
	padding: 1.5%;
	box-sizing: border-box;
	color: #eee;
	font-size: 2.5vh;
	background-color: rgba(0,0,0,.75);
	border-radius: 10px;
	box-shadow: 0 0 2vh #111;
	overflow: hidden;
	transition: .25s;
}
.exif:hover{background-color: rgba(0,0,0,.9)}
.exif table{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
.exif td{
	padding: .8vh 0;
	border-bottom: 1px solid #bbb;
}
.exif tr:last-child td{border-bottom: 0}
.tag{
	font-weight: bold;
	width: 40%;
}
.value{text-indent: .5vw}